input.search-box {
  margin-bottom: 0px;
}

.container {
  position: relative;
  width: 700px;
  background-color: rgb(250,250,250);
  padding: 20px;
  margin-bottom: 20px;
}

h1 {
  margin-left: 0px;
  padding: 0px;
}

.quotes {
  font-style: italic;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}